/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/
.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.lowimg {
    width: 35%;
    display: block;
}

.mediumimg {
    width: 50%;
}

ul:not(ul ul) {
    margin-left: 1.0em;
}
